    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Adam At Last is the living document of music created by Grand Rapids, Michigan songwriter, Adam Hersberger.</p>
                <p>This project is an attempt to sum prior experiences, successes and failures into a true and honest musical identity. 
                <br>After many revisions, this is...
                <br><b>Adam At Last</b></p>
            </div>
        </div>
    </section>
